In [1]:
# import some important modules
from faker import Faker
import numpy as np
import pandas as pd
faker = Faker()

##### Created 9 functions for each columns to generate fake data

In [2]:
# To get 100 random names;

def get_names(n):
    name = []
    for _ in range(n):
        name.append(faker.name())
    return name

In [3]:
# To get 100 random emails;
def get_emailadress(n):
    email = []
    for _ in range(n):
        email.append(faker.email())
    return email

In [4]:
#To get 100 random addresses;
def get_address(n):
    address = []
    for _ in range(n):
        address.append(faker.address())
    return address

In [5]:
# To get 100 random phones;
def get_phone(n):
    phone = []
    for _ in range(n):
        phone.append(faker.phone_number())
    return phone

In [6]:
# To get 100 random birthdays;
def get_date_of_birth(n):
    DOB = []
    while len(DOB)<=n:
        fakeDOB=[]
        fakeDOB=faker.date_of_birth()
        if fakeDOB.year<=2002:
            DOB.append(fakeDOB)
        
    return DOB

###### Birthdates require special attention to generate fake birthdays to keep the data more realistic.So that it will not affect other colums such as income,speedticket, number of kids and so on.So I took years before 2002(>18 years old)

In [ ]:
### def get_date_of_birth(n):
    DOB = []
    for _ in range (n):
        fakeDOB=faker.date_of_birth()
        if fakeDOB.year<=2002:
            DOB.append(fakeDOB)
        
    return DOB

In [7]:
# To get 100 random homestatus;
def get_homestatus(n):
    homestatus = []
    for _ in range(n):
        homestatus.append(faker.random_element(elements = ("rent", "owner")))
    return homestatus

In [8]:
# To get 100 random annualincomes;
def get_annualincome(n):
    annualincome = []
    for _ in range(n):
        annualincome.append(faker.random.randint(40000, 120000))
    return annualincome

In [9]:
# To get 100 random number of kids
def get_num_kids(n):
    num_kids = []
    for _ in range(n):
        num_kids.append(faker.random.randint(0, 10)) 
    return num_kids

In [10]:
# To get 100 random number of speed tickets that a person got in the past year 
def get_num_speedticket(n):
    speedticket = []
    for _ in range(n):
        speedticket.append(faker.random.randint(0, 5))
    return speedticket

In [11]:
# Collected all the functions by assigned them to corresponding variables then created dataframe.
n=100;
names = get_names(n)
emails = get_emailadress(n)
addresses = get_address(n)
phones = get_phone(n)
dates_of_birth = get_date_of_birth(n)
home_status = get_homestatus(n)
incomes = get_annualincome(n)
number_of_kids = get_num_kids(n)
speed_tikets =  get_num_speedticket(n)
    
df = pd.DataFrame(list(zip(names,emails,addresses,phones,dates_of_birth,home_status,
                    incomes,number_of_kids,speed_tikets)),
                    columns = ['Full Name','Email Adress','Address','Phone Number','Date Of Birth',
                              'Home Status','Annual Income','Number of Kids','Speed Tikets'])
df.head()

,Full Name,Email Adress,Address,Phone Number,Date Of Birth,Home Status,Annual Income,Number of Kids,Speed Tikets
0,Adam Walsh,ericlarson@gmail.com,"949 David Vista Apt. 262\nGouldborough, NM 01682",+1-654-856-2437x5598,1921-01-02,owner,87697,5,5
1,Jeffrey Carson PhD,evanforbes@barnett-hernandez.biz,"386 Horne Brooks Apt. 123\nSouth Josephtown, N...",504-094-1123,1996-04-13,owner,69032,7,2
2,Jacob Miller,joanna96@thomas.com,"6068 Rice Circles\nLindaberg, NJ 48613",016.343.7476x8431,1962-02-27,rent,48576,1,0
3,Keith Prince,douglascampbell@gmail.com,"PSC 6989, Box 4374\nAPO AE 36283",001-319-872-9433,1979-09-01,owner,60183,5,4
4,Steven Humphrey,frodriguez@yahoo.com,"8114 Jeremy Villages Suite 014\nMonicatown, CO...",001-765-446-4133x815,1943-04-25,rent,62202,1,3

In [12]:
# To display how many rows and columns in the data:
df.shape

(100, 9)

In [13]:
# To display detailed information about the data:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Full Name       100 non-null    object
 1   Email Adress    100 non-null    object
 2   Address         100 non-null    object
 3   Phone Number    100 non-null    object
 4   Date Of Birth   100 non-null    object
 5   Home Status     100 non-null    object
 6   Annual Income   100 non-null    int64
 7   Number of Kids  100 non-null    int64
 8   Speed Tikets    100 non-null    int64
dtypes: int64(3), object(6)
memory usage: 7.2+ KB

In [14]:
# To save the dataframe to working directory as csv file form.
df.to_csv('personData.csv')