In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import col,when,StringType

In [3]:
conf = spark.sparkContext._conf.getAll()

In [5]:
spark.sparkContext.stop()

In [6]:
spark = SparkSession.builder.master("local[1]").appName("Spark_Examples").getOrCreate()

In [7]:
sc= spark.sparkContext

In [9]:
## Create the dataset with its columns
data= [(543, "John Smith", "301-304-4044",3.3),
       (325, "Nancy Thomas", "240-340-3444", 3.95),
       (234,"Bob Mike","240-354-2343",3.4),
       (130,"Bekey Shone","571-345-4672",2.9),
       (289,"Lily Tom","301-567-6748",3.8),
       (564,"Kidy George","240-342-4531",3.67),
        (304,"Magi Jack","240-234-764",3.0),
        (400,"Tom Ababu","301-390-7831",2.88),
        (438,"Amy Gech","301-345-6543",2.75),
        (322,"Ben Gedu","240-300-4231",3.5),
        (203,"Elene Gera","303-24--3453",3.2)]
columns= ["Student ID", "Student Name", "Student Phone Number","GPA"]

In [10]:
## Put the dataset into Dataframe
df = spark.createDataFrame(data).toDF(*columns)

In [11]:
df.printSchema()
df.show(truncate=False)

root
 |-- Student ID: long (nullable = true)
 |-- Student Name: string (nullable = true)
 |-- Student Phone Number: string (nullable = true)
 |-- GPA: double (nullable = true)

+----------+------------+--------------------+----+
|Student ID|Student Name|Student Phone Number|GPA |
+----------+------------+--------------------+----+
|543       |John Smith  |301-304-4044        |3.3 |
|325       |Nancy Thomas|240-340-3444        |3.95|
|234       |Bob Mike    |240-354-2343        |3.4 |
|130       |Bekey Shone |571-345-4672        |2.9 |
|289       |Lily Tom    |301-567-6748        |3.8 |
|564       |Kidy George |240-342-4531        |3.67|
|304       |Magi Jack   |240-234-764         |3.0 |
|400       |Tom Ababu   |301-390-7831        |2.88|
|438       |Amy Gech    |301-345-6543        |2.75|
|322       |Ben Gedu    |240-300-4231        |3.5 |
|203       |Elene Gera  |303-24--3453        |3.2 |
+----------+------------+--------------------+----+

In [15]:
## change the GPA column value from numerical to string values
df2 = df.withColumn("GPA", when(col("GPA")>= 3.6 ,"A")
      .when((col("GPA")>=3.2)&(col("GPA")<3.6),"B")
      .when(col("GPA")< 3.2 ,"C"))
## create temp table to query the data
df2.createOrReplaceTempView("Students_data")

In [16]:
# Query the data
spark.sql("SELECT * FROM Students_data").show()

+----------+------------+--------------------+---+
|Student ID|Student Name|Student Phone Number|GPA|
+----------+------------+--------------------+---+
|       543|  John Smith|        301-304-4044|  B|
|       325|Nancy Thomas|        240-340-3444|  A|
|       234|    Bob Mike|        240-354-2343|  B|
|       130| Bekey Shone|        571-345-4672|  C|
|       289|    Lily Tom|        301-567-6748|  A|
|       564| Kidy George|        240-342-4531|  A|
|       304|   Magi Jack|         240-234-764|  C|
|       400|   Tom Ababu|        301-390-7831|  C|
|       438|    Amy Gech|        301-345-6543|  C|
|       322|    Ben Gedu|        240-300-4231|  B|
|       203|  Elene Gera|        303-24--3453|  B|
+----------+------------+--------------------+---+